<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
	<% include navbar %>

	<div class="container">
		<div class="page-header">
			<h1>
				</br>
				Train Times in Salem <small>So my hunny knows when I'll be home!</small>
			</h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">When the HUNNY EXPRESS is scheduled to arrive in Salem</div>
			<div class="panel-body">
				<!-- <p>Trains content</p> --->
				<!-- <strong><%= mbtaFeed %></strong> --->
						
					  <% 
					  
					  try { for(var i=0; i<mbtaFeed['Messages'].length; i++) {
						if(mbtaFeed['Messages'][i]['Stop']=="Salem"){
						%>
						 		 
						   
						  
						 <tr>
						   <td>Destination: <%= mbtaFeed['Messages'][i]['Destination'] %></td></br>
						   <td>Train No:<%= mbtaFeed['Messages'][i]['Trip'] %></td></br>
						   <td>Scheduled Arrival: <%= mbtaFeed['Messages'][i]['Scheduled'] %></td></br>
						   </br>
						   </br>
						 </tr>
						 <% 
							}} 
							} catch(err) {}	%>
			</div>
		</div>

		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#trains').addClass("active");
		});
	</script>
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>